* {
  margin: 0;
  padding: 0;
  /*Color Vars*/
  --color-space: rgba(23,23,33,1);
  --color-red: rgba(204,102,102,1);
}
::selection {
  background: rgba(255,255,255,.0);
}
body {
  background-color: var(--color-space);
  cursor: crosshair;
}
p {
  font-family: 'Inconsolata', monospace;
}

.warning {
  background-color: var(--color-red);
  color: black;
}
#cover {
  position: fixed;
  height: 170px;
  width: 170px;
  top: calc(50vh - 85px);
  left: calc(50vw - 85px);
  border-radius: 50%;
  background-color: rgba(255,255,255,.00);
  z-index: 5;
  transition: all .3s;
} #cover:hover {
  /*background-color: rgba(255,255,255,.03);*/
}
#viewport {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#map {
  width: 10000px;
  height: 10000px;
  overflow: hidden;
  margin-left: calc(50vw - 3000px);
  margin-top: calc(50vh - 3000px);
  transition: all .07s linear;
  background-image: url("../resources/stars.png");
  background-repeat: repeat;
  background-size: 50%;
}

#player {

}
#rocketship {
  position: fixed;
  margin-left: calc(50vw - 35px);
  margin-top: calc(50vh - 35px);
  /*border-radius: 50%;*/
}
#downDirector {
  position: fixed;
  margin-left: calc(50vw - 85px);
  margin-top: calc(50vh - 85px);
  border-radius: 50%;
  transform: rotate(130deg);
}
#velDirector {
  position: fixed;
  margin-left: calc(50vw - 85px);
  margin-top: calc(50vh - 85px);
  border-radius: 50%;
}
#menu {
  /*background-color: red;*/
  background-image: url("../resources/orbalMenu.svg");
  background-size: cover;
  position: fixed;
  height: 130px;
  width: 38px;
  top: calc(50vh - 65px);
  left: calc(50vw + 95px);
  z-index: 10;
  display: none;
  opacity: 0;
  transition: all .3s;
}
#primary {
  width: 100%;
  height: 33%;
  /*background-color: red;*/
}
#secondary {
  width: 100%;
  height: 33%;
  /*background-color: green;*/
}
#exit {
  width: 100%;
  height: 34%;
  /*background-color: yellow;*/
}
.output {
  position: fixed;
  border: 1px solid white;
  background-color: var(--color-space);
  max-height: 500px;
  width: 150px;
  top: 0;
  left: 0;
  z-index: 10;
} .output > p {
  color: white;
  margin-left: 3px;
}
#output2 {
  left: calc(100vw - 152px);
}
#output3 {
  top: 100px;
}
.planet {
  width: 100px;
  height: 100px;
  background-color: gray;
  border-radius: 50%;
}
#earth {
  height: 5000px;
  width: 5000px;
  margin: 2500px;
  background-color: lightyellow;
  box-shadow: 0px 0px 400px white;
}
